.page1{
    height: 100vh;
    width: 100vw;
}

#video{
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background-position: center;
    object-fit: cover;
    position: absolute;

}

.latar{ 
    position: absolute; 
    z-index: 0; 
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(255, 255, 255, 0);

    box-sizing: border-box;
}

.latar div{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.3);
   bottom: 0%;
    left: 0%;
    width: 100vw;
    padding-left: 5%;
}



.latar span{
    box-sizing: content-box;
    padding: 0%;

    font-weight: bold;
    color: white;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;

}

.latar p {

    font-size: 25px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}
